body {
  font-family: Arial, sans-serif;
  background-color: #fff8f0;
  color: #333;
}

h1 {
  color: #ffa039;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  color: #ffa039;
}

p {
  line-height: 1.6em;
}
